.jumbotron{
background-color:lightblue;
text-align:center;
color:black;
margin-top:50px;
}

.button{
background-color:blue;
color:white
}

.footer{
padding:10px,10px,0,10px;
text-align:center;
background-color:lightblue;
color:black;
margin-bottom:0px;
margin-top: 10px;
}

.cardprod{
background-color:yellow;
color:black;
text-align:center;
margin-top:10px;
padding:2px,5px,2px,5px;
flex: 1 150px;
margin-left:5px;
}

.tab-content{
	padding-top:10px;
}


