@yellow:#fffa19;
@green: #C9FA00;
@rojo: #FA0000;

.margenes (@top:0px,@bottom:0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.paddings(@top:0px,@left:0px,@right:0px,@bottom:0px){
	padding-top:@top;
	padding-left:@left;
	padding-right:@right;
	padding-bottom:@bottom;
}

.jumbotron {
  background-color: @yellow;
  text-align: center;
  color: black;
  .margenes(50px,0px) }

.button {
  background-color: @rojo;
  color: white; }

.footer {
  text-align: center;
  background-color: @yellow;
  color: black;
  .margenes(10px,0px);
  .paddings(10xp,10px,10px,0px);
  }

.cardprod {
  background-color: @green;
  color: black;
  text-align: center;
  flex: 1 150px;
  margin-left: 5px;
  .margenes(10px,0px);
  .paddings(2px,5px,5px,2px) }

.tab-content {
  .paddings(10xp,0px,0px,0px); }
