$yellow:#FADF11;
$green: #C9FA00;
$rojo: #FA0001;


@mixin margenes ($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


@mixin paddings($top,$left,$right,$bottom){
	padding-top:$top;
	padding-left:$left;
	padding-right:$right;
	padding-bottom:$bottom;
}


.jumbotron{
background-color:$yellow;
text-align:center;
color:black;
@include margenes(50px,0px);
}

.button{
background-color:$rojo;
color:white
}

.footer{
text-align:center;
background-color:$yellow;
color:black;
@include margenes(10px,0px);
@include paddings(10px,10px,10px,0px);
}

.cardprod{
background-color:$green;
color:black;
text-align:center;
flex: 1 150px;
margin-left:5px;
@include margenes(10px,0px);
@include paddings(2px,5px,5px,2px);
}

.tab-content{
	padding-top:10px;
}