.jumbotron {
  background-color: #FADF11;
  text-align: center;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.button {
  background-color: #FA0001;
  color: white; }

.footer {
  text-align: center;
  background-color: #FADF11;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px; }

.cardprod {
  background-color: #C9FA00;
  color: black;
  text-align: center;
  flex: 1 150px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px; }

.tab-content {
  padding-top: 10px; }
